<div *ngIf="resumeData" id="resume-preview" class="resume-container">
    <header class="header">
      <h1>{{ resumeData.name }}</h1>
      <p>
        <span>{{ resumeData.location }}</span> 
        <a href="mailto:{{resumeData.email}}">{{ resumeData.email }}</a>
        <span>{{ resumeData.phone }}</span>  
        <a href="https://linkedin.com/in/{{ resumeData.linkedIn }}">{{resumeData.linkedIn}}</a>
        <a href="https://github.com/{{ resumeData.github }}">{{resumeData.github}}</a>
      </p>
    </header>
  
    <section class="section">
      <h2>Career Objective</h2>
      <p class="objective-entry" >{{ resumeData.careerObjective }}</p>
    </section>
  
    <section class="section">
        <h2>Education</h2>
        <div *ngFor="let edu of resumeData.education" class="education-entry">
          <div class="education-header">
            <h3>{{ edu.college }}</h3>
            <span class="education-duration">{{ edu.year }}</span>
          </div>
          <p>{{ edu.degree }}, (GPA: {{ edu.gpa }})</p>
        </div>
      </section>
      
  
    <section class="section">
        <h2>Experience</h2>
        <div *ngFor="let exp of resumeData.experience" class="experience-entry">
          <div class="experience-header">
            <h3>{{ exp.company }}, {{ exp.role }}</h3>
            <span class="experience-duration">{{ exp.duration }}</span>
          </div>
          <p>{{ exp.details }}</p>
        </div>
      </section>
      
  
    <section class="section">
      <h2>Projects</h2>
      <div *ngFor="let project of resumeData.projects" class="project-entry">
        <h3><a href="{{project.link}}">{{ project.title }}</a></h3>
        <p>{{ project.description }}</p>
        <p><strong>Tools:</strong> {{ project.tools }}</p>
      </div>
    </section>
  
    <section class="section">
      <h2>Skills</h2>
      <div class="skills-entry">
        <p><strong>Languages:</strong> {{ resumeData.skills.languages }}</p>
        <p><strong>Frameworks:</strong> {{ resumeData.skills.frameworks }}</p>
        <p><strong>Tools:</strong> {{ resumeData.skills.tools }}</p>
      </div>
    </section>
  </div>
  <button *ngIf="resumeData" (click)="downloadPDF()">Download PDF</button>
  
  
  